{% extends 'base.html' %} 

{% block content %}
<div class="message-box">
  <h2>Chat Room: {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      placeholder="Message"
      name="message"
      id="message"
      class="message-input"
    />
    <button
      type="button"
      name="send"
      id="send-btn"
      class="send-button"
      onClick="sendMessage()"
    >
      Send
    </button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io({transports: ['websocket', 'polling']});

  socketio.on('connect', () => {
      console.log('Connected to server');
  });

  socketio.on('disconnect', () => {
      console.error('Disconnected from server');
      setTimeout(() => socketio.connect(), 1000); // 重连
  });
  const messages = document.getElementById("messages");

  const createMessage = (name, msg, time, type = 'text') => {
    const className = type === 'enter' || type === 'leave' ? 'system-message' : 'text';

    const content = `
    <div class="${className}">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${time}
        </span>
    </div>
    `;
    messages.innerHTML += content;
    messages.scrollTop = messages.scrollHeight; // Auto-scroll
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.timestamp, data.type);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value.trim() === "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };
</script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{ msg.name }}", "{{ msg.message }}", "{{ msg.timestamp }}", "{{ msg.type }}");
</script>

{% endfor %}

{% endblock %}